{
  "gateway_url": "http://127.0.0.1:7555",
  "gateway_token": "{{ telegram_gateway_auth_token }}",
  "chat_id": "{{ telegram_allowed_user_ids | default('8520366373') }}",
  "poll_interval_ms": "3000",
  "poll_timeout_ms": "120000"
}
