apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://localhost:8428
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "30s"
      exemplarTraceIdDestinations:
        - name: traceID
          datasourceUid: tempo

  - name: VictoriaMetrics
    uid: victoriametrics
    type: prometheus
    access: proxy
    url: http://localhost:8428
    isDefault: false
    editable: true
    jsonData:
      timeInterval: "15s"

  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://logs-pod:3100
    editable: true
    jsonData:
      maxLines: 1000
      httpHeaderName1: "X-Scope-OrgID"
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: '"TraceId":"([a-f0-9]+)"'
          name: TraceID
          url: "$${__value.raw}"
          internalLink: true
        - datasourceUid: tempo
          matcherRegex: '"trace_id": "([a-f0-9]+)"'
          name: TraceID
          url: "$${__value.raw}"
          internalLink: true
        - datasourceUid: tempo
          matcherRegex: "traceID=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"
          internalLink: true
        - matcherRegex: '"request_Cf-Ray":"([a-f0-9]+-[A-Z]+)"'
          name: CfRay
          url: ""
          internalLink: false
    secureJsonData:
      httpHeaderValue1: "enterprise"

  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    url: http://tempo-pod:3200
    editable: true
    jsonData:
      httpMethod: GET
      grpcUrl: "tempo-pod:9095"
      httpHeaderName1: "X-Scope-OrgID"
      tracesToLogs:
        datasourceUid: loki
        tags: ['job', 'instance', 'pod', 'namespace']
        mappedTags: [{ key: 'service.name', value: 'service' }]
        mapTagNamesEnabled: true
        spanStartTimeShift: '1h'
        spanEndTimeShift: '1h'
        filterByTraceID: true
        filterBySpanID: false
      tracesToMetrics:
        datasourceUid: prometheus
        tags: [{ key: 'service.name', value: 'service' }, { key: 'job' }]
        spanStartTimeShift: '1h'
        spanEndTimeShift: '1h'
      serviceMap:
        datasourceUid: prometheus
      search:
        hide: false
      nodeGraph:
        enabled: true
      lokiSearch:
        datasourceUid: loki
    secureJsonData:
      httpHeaderValue1: "enterprise"

  - name: PostgreSQL (Trading)
    uid: postgres-trading
    type: postgres
    access: proxy
    url: shared-db-pod:5432
    user: postgres
    editable: true
    jsonData:
      database: enterprise
      sslmode: disable
    secureJsonData:
      password: "{{ ai_stack_postgres_password }}"

{% if security is defined and security.wazuh.enabled | default(true) %}
  - name: Wazuh Indexer
    uid: wazuh
    type: elasticsearch
    access: proxy
    url: http://security-pod:9200
    editable: true
    jsonData:
      index: "wazuh-alerts-*"
      timeField: "timestamp"
      esVersion: "7.10.2"
      logMessageField: "rule.description"
      logLevelField: "rule.level"
{% endif %}

{% if monitoring.checkmk.enabled | default(false) %}
  - name: CheckMK
    uid: checkmk
    type: checkmk-cloud-datasource
    access: proxy
    url: http://localhost:5000/cmk
    editable: true
    jsonData:
      edition: "raw"
      username: "{{ monitoring.checkmk.admin_user | default('cmkadmin') }}"
    secureJsonData:
      secret: "{{ checkmk_password }}"
{% endif %}
